
body * {
    margin: 0;
    padding: 0;  
}

.hero {
    background-image: url(../images/CoverStory_robots.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}
.hero p {
    background-color: #0000006c;
}
h1 {
    text-transform: capitalize;
}
h1 , h2 {
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}
.bandeau img {
    max-width: 80px;
    max-height: 80px;
}
.learn-more {
    background-color: rgb(191, 238, 233); 
    
}
.icons a , .card-contact a{
    text-decoration: none;
} 
.card-contact li , .evenement li{ 
    list-style: none;
}
.icons a img {
    max-width: 30px;
}
.evenement img {
    max-height: 200px;
    width: auto;
}
@media screen and (min-width : 900px){
    body {
        background-color: #ffffff;
    }
    main {
        max-width: 1300px;
        margin: auto;
        min-height: 100vh;
    }

    .hero {
        min-height: 30vh;
        display: flex;
        align-items: center;
        justify-content: flex-end; 
        padding: 5rem;
    }
    .hero > div {
       max-width: 50%;
       
    }
    h1 {   
        color: #ffffff;  
    }
    h1 , h2 {
        text-align: left;
    }
    .hero p {
        color: rgba(255, 255, 255, 0.758);
        background-color: transparent;
    }
    .conteneur-flex {
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: auto;
    }
    .conteneur-flex > * {
        flex: 1;  
        padding: 1rem;
    }
    .bandeau{
        min-height: 50vh;
        background-image: url(../images/background-2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
        position: relative;
    }
  .bandeau p {
        max-width: 40%;
  }
   .conteneur-flex-3 {
        align-items: stretch;
   }
   .learn-more {
        width: max-content;
    
    }
    footer {
        min-height: 5vh;
        margin-top: 5vh;
    }
}
